<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZamTour.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>737121361F7E7D3C00EA8278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7371214A1F7E7D3C00EA8278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>737121551F7E7D3C00EA8278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
